@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700");

@font-face {
  font-family: "Georgia";
  font-display: swap;
  src: url("../fonts/Georgia.woff") format("woff"), url("../fonts/Georgia.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  font-display: swap;
  src: url("../fonts/Georgia-Bold.woff") format("woff"), url("../fonts/Georgia-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GillSans";
  font-display: swap;
  src: url("../fonts/GillSans Light.woff") format("woff"), url("../fonts/GillSans Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  font-size: 0.732vmax;
}

body {
  color: #000;
  background-color: #d9dad7;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 80vmax;
  margin: 0 auto;
}

.bg {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: -1;
}

.bg img {
  width: 100vmax;
}

.title {
  font-family: Georgia;
}

.btn {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  font-family: GillSans;
  padding: 0.7em 0.9em;
  border: 0.15em solid #c5ab99;
  background: -o-radial-gradient(120.53% -130.17%, 270.69% 1400.71%, #c5ab99 0%, rgba(197, 171, 153, 0.42) 100%);
  background: radial-gradient(270.69% 1400.71% at 120.53% -130.17%, #c5ab99 0%, rgba(197, 171, 153, 0.42) 100%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header {
  position: relative;
}

.header__content {
  padding: 3.3rem 0px 28rem 0px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 18.7rem 0px;
}

.header__nav {
  font-size: 1.5rem;
  font-family: GillSans;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo img {
  max-width: 16rem;
}

.header__bottom {
  padding: 0px 0px 0px 45rem;
}

.header__man {
  position: absolute;
  left: 0;
  top: 10rem;
  z-index: -10;
}

.header__man img {
  width: 58rem;
}

.header__name {
  font-size: 1.3rem;
  letter-spacing: 0.05em;
  color: #fff;
  padding: 1.1em 1.3em;
  background: #c5ab99;
  display: inline-block;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  font-family: Georgia;
  position: absolute;
  left: 20rem;
  top: 33rem;
}

.header__name span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(-45deg);
      -ms-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}

.header__title {
  font-size: 3.5rem;
  line-height: 1.3;
  padding: 0px 0px 0.5em 0px;
  margin: 0px 0px 0.5em 0px;
  position: relative;
  max-width: 40rem;
}

.header__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 22rem;
  height: 0.3rem;
  background: #c5ab99;
}

.header__text {
  font-size: 1.6rem;
  line-height: 1.3;
  margin: 0px 0px 4rem 0px;
}

.header__bg {
  top: 0;
  z-index: -100;
}

.nav-header__item {
  margin: 0px 2em 0px 0px;
  color: #000;
  opacity: 0.8;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.nav-header__item:hover {
  opacity: 1;
}

.rev {
  position: relative;
  padding: 0px 0px 12rem 0px;
}

.rev__bg {
  top: -20rem;
}

.rev__content {
  position: relative;
  padding: 0px 0px 6rem 0px;
  max-width: 66rem;
  margin: 0px auto;
}

.rev__title {
  position: relative;
  font-size: 3.5rem;
  text-align: center;
  margin: 0px 0px 3.6rem 0px;
}

.rev__slider-item {
  text-align: center;
}

.rev__slider-item img {
  width: 45rem;
  max-height: 65rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.rev__slider-prev {
  top: 50% !important;
  bottom: auto !important;
  -webkit-transform: translate(0%, -50%) !important;
      -ms-transform: translate(0%, -50%) !important;
          transform: translate(0%, -50%) !important;
  color: #000 !important;
  left: 0% !important;
}

.rev__slider-next {
  top: 50% !important;
  bottom: auto !important;
  -webkit-transform: translate(0%, -50%) !important;
      -ms-transform: translate(0%, -50%) !important;
          transform: translate(0%, -50%) !important;
  right: 0px !important;
  color: #000 !important;
}

.swiper-pagination-bullet {
  background-color: #000 !important;
  width: 10px !important;
  height: 10px !important;
}

.qus__content {
  max-width: 92rem;
  padding: 0px 0px 15rem 0px;
}

.qus__title {
  font-size: 3.5rem;
  text-align: right;
  position: relative;
  margin: 0px 0px 12rem 0px;
}

.qus__title img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: -15rem;
  max-width: 68rem;
  z-index: -1;
}

.qus__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inner-qus__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 4rem 0px;
  background: -o-radial-gradient(117.39% -130.17%, 263.64% 1400.71%, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.25) 100%);
  background: radial-gradient(263.64% 1400.71% at 117.39% -130.17%, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.25) 100%);
  width: 80rem;
}

.inner-qus__item:last-child {
  margin: 0px 0px 0px 0px;
}

.inner-qus__item:nth-child(even) {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: -o-radial-gradient(263.64% 1400.71%, 117.39% -130.17%, rgba(255, 255, 255, 0.25) 100%, rgba(255, 255, 255, 0.88) 0%);
  background: radial-gradient(117.39% -130.17% at 263.64% 1400.71%, rgba(255, 255, 255, 0.25) 100%, rgba(255, 255, 255, 0.88) 0%);
}

.inner-qus__item:nth-child(even) .inner-qus__plus {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.inner-qus__plus {
  background: -o-radial-gradient(120.53% -130.17%, 270.69% 1400.71%, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.25) 100%);
  background: radial-gradient(270.69% 1400.71% at 120.53% -130.17%, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.25) 100%);
  min-height: 100%;
  padding: 1em 1em;
  min-width: 10rem;
  height: 10rem;
  position: relative;
  cursor: pointer;
}

.inner-qus__plus:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1.8vmax;
  height: 0.2vmax;
  background: #000;
}

.inner-qus__plus::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 1.8vmax;
  width: 0.2vmax;
  background: #000;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.inner-qus__plus.active:before {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.inner-qus__text {
  font-size: 2.2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  padding: 1.9em 0px;
}

.inner-qus__text.active .inner-qus__text-hide {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.inner-qus__text-hide {
  font-size: 1.8rem;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  margin: 1em 0px 0px 0px;
  padding: 0px 3rem;
  line-height: 1.3;
}

.footer {
  position: relative;
  background: #cbbaad;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 6em 0px;
}

.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__up {
  position: relative;
  font-size: 1.7rem;
  padding: 1em 1.5em;
  margin: 0px 0px 1em 0px;
  color: #000;
  z-index: 1;
}

.footer__up-text {
  z-index: 10;
  position: relative;
}

.footer__up img {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

.footer__inner {
  line-height: 1.3;
  padding: 1em 2em;
  background: -o-radial-gradient(120.53% -130.17%, 270.69% 1400.71%, #ffffff 0%, rgba(255, 255, 255, 0.04) 60%);
  background: radial-gradient(270.69% 1400.71% at 120.53% -130.17%, #ffffff 0%, rgba(255, 255, 255, 0.04) 60%);
}

.footer__a {
  color: #000;
  font-size: 1.7rem;
}

.footer__info {
  font-size: 1.7rem;
}

.footer__bg {
  bottom: 5rem;
  z-index: -10;
}

._text-anim {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translate(-50px, 0);
      -ms-transform: translate(-50px, 0);
          transform: translate(-50px, 0);
  opacity: 0;
}

._text-anim._big-up {
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

._text-anim._big-up._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim + ._text-anim {
  -webkit-transition: all 0.4s ease 0.1s;
  -o-transition: all 0.4s ease 0.1s;
  transition: all 0.4s ease 0.1s;
}

._text-anim + ._text-anim._big-up {
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

._text-anim + ._text-anim._big-up._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim + ._text-anim + ._text-anim {
  -webkit-transition: all 0.4s ease 0.2s;
  -o-transition: all 0.4s ease 0.2s;
  transition: all 0.4s ease 0.2s;
}

._text-anim + ._text-anim + ._text-anim._big-up {
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

._text-anim + ._text-anim + ._text-anim._big-up._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim + ._text-anim + ._text-anim + ._text-anim {
  -webkit-transition: all 0.4s ease 0.3s;
  -o-transition: all 0.4s ease 0.3s;
  transition: all 0.4s ease 0.3s;
}

._text-anim + ._text-anim + ._text-anim + ._text-anim._big-up {
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

._text-anim + ._text-anim + ._text-anim + ._text-anim._big-up._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim + ._text-anim + ._text-anim + ._text-anim + ._text-anim {
  -webkit-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}

._text-anim + ._text-anim + ._text-anim + ._text-anim + ._text-anim._big-up {
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

._text-anim + ._text-anim + ._text-anim + ._text-anim + ._text-anim._big-up._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

._text-anim-one {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
          transform: translate(0, 50px);
  opacity: 0;
}

._text-anim-one._active {
  -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
          transform: translate(0px, 0);
  opacity: 1;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.forr {
  position: relative;
  background: #c5ab99;
}

.forr__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.forr__title {
  font-size: 3.5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0.5em 1em;
  background: -o-radial-gradient(116.23% -130.17%, 261.03% 1400.71%, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.25) 100%);
  background: radial-gradient(261.03% 1400.71% at 116.23% -130.17%, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.25) 100%);
  margin: 0px 0px 2em 0px;
}

.forr__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forr__bg-top {
  top: -15rem;
}

.forr__bg-bottom {
  bottom: -12rem;
}

.inner-forr__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin: 0px 0px 4.6rem 0px;
}

.inner-forr__item img {
  margin: 0px 2.5rem 0px 0px;
}

.inner-forr__title {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  margin: 0px 0px 0.7em 0px;
}

.inner-forr__par {
  font-size: 1.6rem;
  line-height: 1.3;
}

.prize__content {
  padding: 15rem 0px 12rem 0px;
}

.prize__title {
  font-size: 3.5rem;
  text-align: center;
  max-width: 45rem;
  margin: 0px auto 0em;
}

.prize__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 63vmax;
  margin: 0px auto 6rem;
}

.prize__btn {
  text-align: center;
}

.prize__btn a {
  color: #000;
  border: none;
  background: -o-radial-gradient(120.53% -130.17%, 270.69% 1400.71%, #ffffff 0%, rgba(255, 255, 255, 0.04) 100%);
  background: radial-gradient(270.69% 1400.71% at 120.53% -130.17%, #ffffff 0%, rgba(255, 255, 255, 0.04) 100%);
}

.inner-prize__item {
  position: relative;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin: 12rem 0px 0px 0px;
}

.inner-prize__num {
  font-family: Georgia;
  font-size: 12rem;
  color: #fff;
  font-weight: 700;
  position: absolute;
  left: -7rem;
  top: -10rem;
  z-index: 0;
}

.inner-prize__text {
  position: relative;
  z-index: 10;
  font-size: 2rem;
  line-height: 1.3;
  padding: 5rem 4rem;
}

.inner-prize__bg {
  position: absolute;
  left: 0%;
  top: 0%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #c5ab99;
  -webkit-transform: skew(10deg);
      -ms-transform: skew(10deg);
          transform: skew(10deg);
  z-index: 2;
}

.spekers__content {
  max-width: 104rem;
  margin: 0px auto;
  padding: 0px 0px 20rem 0px;
}

.spekers__title {
  font-size: 3.5rem;
  margin: 0px 0px 2em 0px;
  position: relative;
  z-index: 10;
}

.spekers__title span {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: -20rem;
  width: 67rem;
  height: 6.5rem;
  background: -o-radial-gradient(116.23% -130.17%, 261.03% 1400.71%, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.25) 100%);
  background: radial-gradient(261.03% 1400.71% at 116.23% -130.17%, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.25) 100%);
  z-index: -1;
}

.spekers__wrap {
  position: relative;
}

.spekers__img {
  position: absolute;
  right: 10rem;
  top: -10rem;
}

.spekers__img img {
  border-radius: 50%;
  border: 0.3rem solid #fff;
  width: 31rem;
}

.spekers__img span {
  position: relative;
}

.spekers__img span::after {
  content: "";
  position: absolute;
  left: -24rem;
  bottom: -24rem;
  -webkit-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
          transform: rotate(-25deg);
  width: 30rem;
  height: 0.4rem;
  background: #fff;
  z-index: -10;
}

.spekers__text {
  background: #d9dad7;
  -webkit-box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.21);
          box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.21);
  border-radius: 5px;
  padding: 2rem 2.5rem;
  width: 48rem;
}

.spekers__desk {
  font-family: Georgia;
  font-size: 2.4rem;
  line-height: 1.3;
  font-weight: 700;
  margin: 0px 0px 0.5em 0px;
}

.spekers__name {
  font-size: 2.2rem;
  margin: 0px 0px 0.5em 0px;
  padding: 0px 0px 0.5em 0px;
  position: relative;
}

.spekers__name:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25rem;
  height: 0.2rem;
  background: #c5ab99;
}

.spekers__list-item {
  font-size: 1.6rem;
  margin: 0px 0px 1em 0px;
  position: relative;
  padding: 0px 0px 0px 2rem;
}

.spekers__list-item::before {
  content: "";
  position: absolute;
  left: 0.5rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #000;
}

.spekers__wrap-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.spekers__wrap-2 .spekers__text {
  position: relative;
  top: -8rem;
}

.spekers__wrap-2 .spekers__img {
  position: absolute;
  left: -35rem;
  top: 15rem;
}

.spekers__wrap-2 .spekers__img img {
  width: 25rem;
}

.spekers__wrap-2 .spekers__img span {
  position: relative;
}

.spekers__wrap-2 .spekers__img span::after {
  content: "";
  position: absolute;
  left: 18rem;
  bottom: -14rem;
  -webkit-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
  width: 30rem;
  height: 0.4rem;
  background: #fff;
  z-index: -10;
}

.program {
  position: relative;
}

.program__content {
  max-width: 100vmax;
  padding: 0px 0px 10rem 0px;
}

.program__title {
  text-align: center;
  font-size: 3.5rem;
  padding: 0px 0px 0.5em 0px;
  margin: 0px 0px 2em 0px;
  position: relative;
}

.program__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 18rem;
  height: 0.3rem;
  background: #d9dad7;
}

.program__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 10rem 0px;
}

.program__btn {
  text-align: center;
  position: relative;
  cursor: pointer;
}

.program__btn a {
  background: transparent;
  color: #000;
  border: none;
  position: relative;
  z-index: 2;
}

.program__btn img {
  position: absolute;
  left: 53%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 29rem;
}

.program__btn.active {
  display: none;
}

.program__bg {
  top: -42rem;
}

.inner-program-hide {
  display: none;
  margin: 0px 0px 0px 0px;
}

.inner-program-hide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-program__item {
  position: relative;
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  background: #d9dad7;
  padding: 4.8rem 5rem 2rem;
  font-size: 1.6rem;
  line-height: 1.3;
  margin: 0px 0px 7.5rem 0px;
}

.inner-program__item span {
  font-size: 2.2rem;
  display: block;
  font-weight: 700;
}

.inner-program__item:nth-child(1) {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.inner-program__item:nth-child(3) {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.inner-program__item:nth-child(5) {
  position: relative;
}

.inner-program__item:nth-child(5):after {
  content: "";
  position: absolute;
  bottom: -25rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 10rem;
  height: 30rem;
  background: #d9dad7;
  z-index: -1;
}

.inner-program__item:nth-child(5)::before {
  content: "";
  position: absolute;
  bottom: -25rem;
  left: 50%;
  -webkit-transform: translate(0%, 0);
      -ms-transform: translate(0%, 0);
          transform: translate(0%, 0);
  width: 50rem;
  height: 10rem;
  background: #d9dad7;
  z-index: -1;
}

.inner-program__item:nth-child(even) {
  top: 7rem;
  padding: 4.8rem 10rem 2rem 5rem;
}

.inner-program__num {
  font-size: 5.5rem;
  color: #fff;
  font-family: Gergia;
  position: absolute;
  left: 50%;
  top: -1rem;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.inner-program__num span {
  font-size: 3rem;
  margin: 0 0 -1rem 0;
}

.inner-program__title {
  font-family: Gergia;
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0px 0px 1em 0px;
}

.inner-program__title span {
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
  position: relative;
  padding: 0.5em 0px;
  margin: 0px 0px 0.5em 0px;
}

.inner-program__title span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #cbb8aa;
  width: 20rem;
  height: 0.3rem;
}

.inner-program__text {
  font-size: 1.6rem;
  margin: 0px 0px 1em 0px;
  position: relative;
  padding: 0px 0px 0px 1.2em;
}

.inner-program__text::after {
  content: "";
  position: absolute;
  left: 0.5rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #000;
}

.inner-program__res {
  position: relative;
  line-height: 1.3;
}

.inner-program__res:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 0.3rem;
  background: #cbb8aa;
}

.inner-program__res span {
  margin: 1.5em 0px 0.2em 0px;
  padding: 0.5em 0px 0px 0px;
  display: block;
}

.tarif__content {
  padding: 0px 0px 8rem 0px;
}

.tarif__title {
  text-align: center;
  font-size: 3.5rem;
  position: relative;
  margin: 0px 0px 9rem 0px;
}

.tarif__title img {
  position: absolute;
  left: 50%;
  top: 80%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.tarif__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.inner-tarif__wrap {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 8rem 0px;
}

.inner-tarif__wrap img {
  margin: 0px 0px 3rem 0px;
}

.inner-tarif__item {
  font-size: 1.4rem;
  line-height: 1.3;
  margin: 0px 0px 0.5em 0px;
}

.inner-tarif__text {
  background: #c5ab99;
  padding: 2rem 7rem 2rem 5rem;
  overflow: hidden;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  text-align: left;
  margin: 0px 0px 2rem 0px;
}

.inner-tarif__title {
  text-align: center;
  font-family: Georgia;
  font-size: 3.4rem;
  text-transform: uppercase;
  color: #fff;
  padding: 0px 0px 0.5em 0px;
  margin: 0px 0px 1em 0px;
  position: relative;
}

.inner-tarif__title::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0;
  width: 140%;
  height: 0.2rem;
  background: #fff;
}

.inner-tarif__item-line {
  padding: 0px 0px 1em 0px;
  border-bottom: 0.3rem solid #fff;
  display: inline-block;
}

.inner-tarif__item-cl {
  opacity: 0.5;
  text-decoration: line-through;
}

.inner-tarif__item-list {
  position: relative;
  padding: 0px 0px 0px 2rem;
}

.inner-tarif__item-list::before {
  content: "";
  position: absolute;
  left: 0.5rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background: #000;
}

.inner-tarif__price {
  text-align: center;
  font-family: Georgia;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0px 0px 0.5em 0px;
}

.inner-tarif__price span {
  font-weight: 400;
  font-size: 2rem;
  display: block;
  opacity: 0.5;
  text-decoration: line-through;
  margin: 0px 0px 0.5em 0px;
}

.inner-tarif__btn a {
  background: #fff;
  color: #000;
  padding: 1em 3em;
  border: 1px solid #fff;
}

@media (min-width: 991.98px) {
  .btn:hover {
    opacity: 0.5;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 65vmax;
  }

  ._text-anim {
    -webkit-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
  }

  ._text-anim-one {
    -webkit-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }

  .spekers__img {
    right: 10rem;
    top: -10rem;
  }

  .spekers__img img {
    width: 25rem;
  }

  .spekers__text {
    width: 40rem;
  }

  .spekers__wrap-2 .spekers__img img {
    width: 20rem;
  }

  .inner-program__num {
    font-size: 4.5rem;
  }
}

@media (max-width: 767.98px) {
  html {
    font-size: 10px;
  }

  .header__content {
    padding: 3.3rem 2rem 0rem;
  }

  .header__top {
    margin: 0px 0px 4rem 0px;
  }

  .header__bottom {
    padding: 0px 0px 0px 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__man {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    left: -2rem;
    top: 0;
  }

  .header__man img {
    width: 350px;
  }

  .header__name {
    left: 10rem;
    top: 20rem;
    font-size: 1.1rem;
  }

  .header__title::before {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .header__title {
    text-align: center;
    font-size: 3rem;
  }

  .header__text {
    text-align: center;
  }

  .header__btn a {
    background: -o-radial-gradient(116.23% -130.17%, 261.03% 1400.71%, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.25) 100%);
    background: radial-gradient(261.03% 1400.71% at 116.23% -130.17%, rgba(255, 255, 255, 0.88) 0%, rgba(255, 255, 255, 0.25) 100%);
    color: #000;
    width: 80%;
    font-size: 2.2rem;
  }

  .header__btn {
    text-align: center;
  }

  .nav-header__item {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 0px 0px 2em 0px;
  }

  main.lock {
    opacity: 0.6;
  }

  .header__burger {
    display: block;
    position: absolute !important;
    width: 4rem;
    height: 2.5rem;
    right: 110%;
    top: 2.5rem;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.2rem;
    top: 50%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 0.2rem;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 1.2rem;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 1.2rem;
  }

  .header__nav {
    position: fixed;
    top: 0%;
    right: -50%;
    width: 50%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    padding: 10rem 3rem 5rem;
    z-index: 21;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bg-mob {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(255, 255, 255, 0.35);
    -webkit-box-shadow: -14px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: -14px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -webkit-backdrop-filter: blur(9px);
            backdrop-filter: blur(9px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .bg-mob.active {
    opacity: 1;
    visibility: visible;
  }

  .header__nav.active {
    right: 0;
  }

  .rev__bg {
    top: -13rem;
  }

  .rev__slider-item {
    padding: 0px 20px;
  }

  .rev__slider-item img {
    width: 100%;
  }

  .rev__slider-prev {
    top: auto;
    top: 110% !important;
    left: 20% !important;
  }

  .rev__slider-next {
    top: auto;
    top: 110% !important;
    right: 20% !important;
  }

  .qus__content {
    padding: 0px 0px 16rem 0px;
  }

  .qus__title {
    font-size: 3rem;
    text-align: center;
    margin: 0px 0px 8rem 0px;
  }

  .inner-qus__item {
    width: 100%;
  }

  .inner-qus__plus {
    padding: 3em 3em;
    min-width: 0px;
  }

  .inner-qus__text {
    font-size: 1.8rem;
  }

  .inner-qus__text-hide {
    font-size: 1.6rem;
    padding: 0px 2rem;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0em 0px 6em;
  }

  .footer__btn {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 2rem 0px;
  }

  .footer__info {
    line-height: 1.3;
    text-align: center;
  }

  .footer__bg {
    bottom: auto;
    top: -34rem;
  }

  .forr__content {
    padding: 5rem 0px 0px 0px;
  }

  .forr__title {
    font-size: 2.5rem;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .forr__bg-top {
    top: -21rem;
  }

  .forr__bg-top img {
    height: 95rem;
  }

  .forr__bg-bottom {
    bottom: -21rem;
  }

  .forr__bg-bottom img {
    height: 95rem;
  }

  .inner-forr__item img {
    margin: 0px 0px 2.5rem 0px;
  }

  .inner-forr__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .inner-forr__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .inner-forr__par {
    max-width: 30rem;
  }

  .prize__content {
    padding: 15rem 0px 7rem 0px;
  }

  .prize__title {
    font-size: 2.5rem;
    margin: 0px auto 0em;
  }

  .prize__inner {
    max-width: 100%;
    padding: 0px 5rem;
    margin: 0px 0px 5rem 0px;
  }

  .inner-prize__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 8rem 0px 0px 0px;
  }

  .inner-prize__num {
    font-size: 8rem;
    top: -6.5rem;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .inner-prize__text {
    padding: 3rem 4rem;
    font-size: 1.6rem;
  }

  .spekers__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 0px 10rem 0px;
  }

  .spekers__title {
    font-size: 2.5rem;
    margin: 0px 0px 3em 0px;
  }

  .spekers__wrap {
    padding: 0px 2rem;
  }

  .spekers__img img {
    width: 200px;
  }

  .spekers__img span {
    display: none;
  }

  .spekers__img {
    position: relative;
    right: auto;
    top: auto;
    text-align: center;
    margin: 0px 0px 2em 0px;
  }

  .spekers__text {
    width: 100%;
    padding: 2rem 2.5rem;
  }

  .spekers__desk {
    text-align: center;
    font-size: 2rem;
  }

  .spekers__name {
    font-size: 2rem;
    text-align: center;
  }

  .spekers__wrap-2 .spekers__text {
    top: 0;
  }

  .spekers__wrap-2 .spekers__img {
    left: auto;
    top: auto;
    position: relative;
  }

  .spekers__wrap-2 .spekers__img span {
    display: none;
  }

  .spekers__wrap-2 {
    margin: 6rem 0px 0px 0px;
  }

  .program__title {
    font-size: 3rem;
    margin: 0px 0px 1.5em 0px;
  }

  .program__inner {
    margin: 0px 0px 7rem 0px;
  }

  .program__bg {
    top: -22rem;
  }

  .inner-program__item:nth-child(5):after {
    display: none;
  }

  .inner-program__item:nth-child(5)::before {
    display: none;
  }

  .inner-program__item:nth-child(even) {
    top: auto;
    padding: 3.8rem 3rem 2rem;
  }

  .inner-program__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 3.8rem 3rem 2rem;
    margin: 0px 2rem 5.5rem;
    border: 3px solid #c5ab99;
  }

  .inner-program__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .inner-program__num-m {
    top: -3.5rem !important;
  }

  .inner-program__num {
    font-size: 3.5rem;
    top: -1.5rem;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .tarif__content {
    padding: 0px 0px 4rem 0px;
  }

  .tarif__title {
    font-size: 3rem;
  }

  .tarif__title img {
    width: 17rem;
  }

  .inner-tarif__wrap {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0px 2rem;
  }

  .inner-tarif__text {
    padding: 2rem 5rem 2rem 3rem;
  }

  .inner-tarif__title {
    font-size: 3rem;
  }

  .inner-tarif__price {
    font-size: 3rem;
  }

  .inner-tarif__price span {
    font-size: 2.5rem;
  }
}